$font-title:'Cinzel Decorative', cursive;
$azul-1: #0A0F29;
$azul-2: #ffffff;
$naranja-main: #ff6e40;
$azul-main: #085BBA;
$menu-font: 'Josefin Sans', sans-serif;
$azul-oscuro: #0C1B33;
$box-shadow: drop-shadow(-10px 10px 9px rgba(0, 0, 0, 0.75));