//Colores

$background-principal: #171B1F;  //azul de fondo para las paginas y tal vez botones
$background-secundario: #fff6f0; //background blanco
$button-principal: #ff6e40; //color principal de los botones
$button-secundario: #ffffff; //color secundario de los botones
$azul-main: #085BBA; //borde principal de los cuadros

$azul-1: #0A0F29;
$azul-2: #ffffff;
$azul-oscuro: #0C1B33;



//sombras y otras cosas
$box-shadow: drop-shadow(-10px 10px 9px rgba(0, 0, 0, 0.75));
