* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.printers {
  color: #bc2e1e;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.4);
}

/*Header*/
header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
}

div.titulo {
  position: relative;
  display: flex;
  margin-left: 10px;
}
div.titulo h1 {
  position: relative;
  top: 5px;
  left: 0.2em;
  font-size: 3em;
  font-family: "Cinzel Decorative", cursive;
  stroke-width: 1;
  font-style: normal;
  font-weight: normal;
  color: black;
}
div.titulo svg {
  position: absolute;
  width: 22.5em;
  height: 70px;
  top: 0;
}
div.titulo svg:hover path {
  stroke-width: 3;
  filter: brightness(150%);
}

header div.icon--responsive {
  position: relative;
  margin-left: 30px;
  margin-top: 0px;
}

header div.icon--responsive svg {
  align-self: center;
  width: 4em;
}

@media only screen and (max-width: 1280px) {
  header {
    position: relative;
  }
}
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
  }

  div.titulo h1 {
    top: 10px;
  }
  div.titulo svg {
    position: absolute;
    top: 5px;
    width: 22.5em;
  }

  header div.icon--responsive {
    margin-top: initial;
    margin-left: initial;
    position: fixed;
    height: fit-content;
    width: fit-content;
    right: 20px;
    bottom: 20px;
  }

  header div.icon--responsive svg {
    display: block;
    position: relative;
    align-self: flex-end;
    width: 30px;
  }
}
/*Menu----cortar en 940*/
.nav__menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  gap: 30px;
  top: 30px;
  right: 20px;
  height: fit-content;
  width: fit-content;
  float: right;
  z-index: 9;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ff6e40;
  width: 130px;
  height: 37px;
  box-shadow: #085BBA;
}
.menu .menu__text {
  justify-content: center;
  align-self: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.644);
}
.menu .menu__text--small {
  font-size: 1.2em;
}
.menu .menu__text--meddium {
  font-size: 1.5em;
}

.menu::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 3px;
  width: 125px;
  height: 32px;
  border: 3px solid #085BBA;
  z-index: -1;
}

.menu .menu__text--line-through {
  text-decoration-line: line-through;
}

@media only screen and (max-width: 1000px) {
  .nav__menu {
    gap: 10px;
    height: fit-content;
    width: fit-content;
  }

  .menu {
    width: 80px;
    height: 30px;
    box-shadow: #085BBA;
  }
  .menu .menu__text {
    justify-content: center;
    align-self: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.644);
  }
  .menu .menu__text--small {
    font-size: 0.7em;
  }
  .menu .menu__text--meddium {
    font-size: 1em;
  }

  .menu::before {
    content: "";
    position: absolute;
    right: 5px;
    top: 3px;
    width: 75px;
    height: 25px;
  }
}
body {
  background-color: #171B1F;
}

footer.fixed-footer {
  position: sticky;
  bottom: 0;
  z-index: -5;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-self: center;
  background: #262626;
  color: #666666;
  font-size: 1.7em;
}
footer.fixed-footer img {
  height: 50px;
}

body#inicio > div {
  z-index: 10;
  background-image: url("../../img/vinos/kym-ellis-aF1NPSnDQLw-unsplash.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: #171B1F;
}

main {
  margin-top: 130vh;
}
main h3 {
  font-size: 3em;
  padding-left: 3em;
  margin-bottom: 1em;
  color: white;
  font-family: "Cinzel Decorative", cursive;
}
main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .grid-container {
  background-color: white;
  width: 75%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  position: relative;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 220px 353px 220px 353px 220px;
  gap: 10px 10px;
  grid-template-areas: "quote--one img--one img--one" "img--two img--one img--one" "img--three img--three quote--two" "img--three img--three img--four" "quote--three quote--three img--four";
}
main .box {
  background-color: #B5B5B5;
  position: relative;
  display: flex;
  align-items: center;
}
main .box p {
  font-size: 2em;
}
main .box::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 3px;
  width: 100%;
  height: 100%;
  border: 3px solid #085BBA;
}
main .box--img {
  filter: drop-shadow(-10px 10px 9px rgba(0, 0, 0, 0.75));
}
main .quote--one {
  grid-area: quote--one;
}
main .img--one {
  grid-area: img--one;
}
main .img--two {
  grid-area: img--two;
}
main .img--three {
  grid-area: img--three;
}
main .quote--two {
  grid-area: quote--two;
}
main .img--four {
  grid-area: img--four;
}
main .quote-three {
  grid-area: quote--three;
  grid-column-start: span 2;
}

.carousel-pruductos {
  margin-top: 200vh;
}

body#bodegas main {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
  flex-direction: column;
}
body#bodegas main article {
  display: flex;
  position: relative;
  max-width: 90%;
  margin-top: 100px;
  flex-direction: column;
  align-self: center;
  gap: 5px;
  margin-top: 20px;
  background-color: aliceblue;
  padding: 15px 10px 5px 10px;
}
body#bodegas main article .texto {
  position: relative;
  display: flex;
  width: 60vw;
  border-left: 2px solid black;
  padding: 15px;
  align-self: center;
  flex-direction: column;
}
body#bodegas main article h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
body#bodegas main article p {
  font-size: 1.7em;
}
body#bodegas main article img {
  position: relative;
  width: 60vw;
  align-self: center;
  object-fit: cover;
}

body#who main img {
  width: 100vw;
  object-fit: cover;
}
body#who main p {
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  letter-spacing: 0.08rem;
}
body#who main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 85px;
  justify-content: center;
  align-items: center;
}
body#who article.caja {
  display: flex;
  position: relative;
  max-width: 90%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
body#who article.caja .caja__img {
  position: relative;
  width: 36.5vw;
  height: 90vh;
  left: 62px;
}
body#who article.caja .texto {
  width: 50vw;
  position: relative;
  left: 100px;
}
body#who article.caja .texto h2 {
  font-size: 3em;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
}
body#who article.caja--banner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-self: center;
  align-items: center;
  position: relative;
}
body#who .img--banner {
  position: relative;
  height: 460px;
  width: 90vw;
  align-self: center;
}
body#who .img--shadow {
  filter: drop-shadow(-10px 10px 9px rgba(0, 0, 0, 0.75));
}
body#who article.caja.caja--derecha {
  flex-direction: row-reverse;
}
body#who article.caja.caja--derecha .texto {
  margin-top: 20px;
  margin-right: 100px;
}
main.tienda {
  position: relative;
  display: flex;
  justify-content: center;
}
main.tienda .container {
  width: 90%;
  margin: 70px auto;
  position: relative;
}
main.tienda .cards {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hide;
  justify-content: center;
  border: 2px solid black;
}
main.tienda article {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  margin: 10px 10px 10px 10px;
  filter: drop-shadow(-10px 10px 9px rgba(0, 0, 0, 0.75));
}
main.tienda article:hover {
  background-color: black;
}
main.tienda article a {
  position: relative;
}
main.tienda article .text {
  opacity: 0.8;
  position: relative;
  margin: 30px 10px;
  z-index: 10;
}
main.tienda article .text h2 {
  color: white;
}
main.tienda article .text p {
  font-size: 1em;
  color: white;
  text-align: justify;
}
main.tienda article .text span {
  color: white;
}
main.tienda article img.cajaTienda {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main.tienda .botonCarrito {
  position: fixed;
  position: fixed;
  right: 40px;
  bottom: 30px;
  display: flex;
  float: right;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
  border: 1px solid black;
  width: 130px;
  height: 40px;
  border-radius: 51px;
  justify-content: center;
  align-items: center;
  background-color: black;
  filter: drop-shadow(-10px 10px 9px rgba(0, 0, 0, 0.75));
}
main.tienda .botonCarrito a {
  font-family: "Josefin Sans", sans-serif;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-3-29 23:16:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/*# sourceMappingURL=main.css.map */
