
main#id 


main.bodegas{
    display: flex;
    justify-content:center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
    flex-direction: column;

    article{
        display: flex;
        position: relative;
        max-width: 90%;
        margin-top: 100px;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
        .texto{
            position: relative;
            display: flex;
            width: 60vw;
            border-left: 2px solid black;
            padding: 15px;
            align-self: center;
            flex-direction: column;

        }
        h2{
            font-size: 3em;
        margin-bottom: 10px;
    
        }
        p{
            font-size: 1.7em;
        }
        img{
            position: relative;
            width: 60vw;
            align-self: center;
            object-fit: cover;

        }

    }
}